# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

.next
/coverage/lcov-report/core/operation/build.js.html
/coverage/lcov-report/core/operation/find.js.html
/coverage/lcov-report/core/operation/index.html
/coverage/lcov-report/core/operation/insert.js.html
/coverage/lcov-report/core/operation/match.js.html
/coverage/lcov-report/core/operation/operate.js.html
/coverage/lcov-report/core/operation/remove.js.html
/coverage/lcov-report/core/operation/testFlight.js.html
/coverage/lcov-report/core/operation/update.js.html
/coverage/lcov-report/testData/data.js.html
/coverage/lcov-report/testData/index.html
/coverage/lcov-report/utils/index.html
/coverage/lcov-report/utils/type.js.html
/coverage/lcov-report/base.css
/coverage/lcov-report/block-navigation.js
/coverage/lcov-report/favicon.png
/coverage/lcov-report/index.html
/coverage/lcov-report/prettify.css
/coverage/lcov-report/prettify.js
/coverage/lcov-report/sort-arrow-sprite.png
/coverage/lcov-report/sorter.js
/coverage/clover.xml
/coverage/coverage-final.json
/coverage/lcov.info
